<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.pp.oped.aromateque">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".AromatequeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AromatequeTheme.NoActionBar">
        <activity
            android:name=".activity.ActivityProductInfo"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityMainPage"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCategoryLevel3"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".activity.ActivityMainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityLaunch"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityProductList"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/aromateque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCart"
            android:label="@string/cart"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>