<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.pp.oped.aromateque">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".AromatequeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AromatequeTheme.NoActionBar">
        <activity
            android:name=".activity.ProductInfoActivity"
            android:label="@string/aromateque"
            android:parentActivityName=".activity.ProductListActivity">
        </activity>
        <activity android:name=".activity.MainPageActivity" />
        <activity
            android:name=".activity.CategoryLevel3Activity"
            android:label="@string/aromateque"
            android:theme="@style/AromatequeTheme.NoActionBar"
            android:parentActivityName=".activity.MainPageActivity" />
        <activity android:name=".activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProductListActivity"
            android:label="@string/aromateque"
            android:parentActivityName=".activity.CategoryLevel3Activity">
        </activity>
    </application>

</manifest>